

*{
  box-sizing: border-box;

}

body{
font-family: "Quicksand", "Hiragino Kaku Gothic ProN","Meiryo", "HelveticaNeue-Light", "Helvetica Neue Light", "Avenir Next", sans-serif;
}
h2{
  padding:20px 0;
  font-size: 2em;
}
h3{
  padding:20px 0;
  font-size: 1.6em;
  font-weight:normal;
}

p{
  padding-bottom:20px;
  font-size:20px;
}
